.sidebar {
  width: 170px;
  height: 100%;
  left: 0;
  border-right:1px solid black;
  height: 165vh;
  
 
   position: sticky; 
  /* background-size:cover; */
  box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.619),inset 0px 0px 15px 1px rgba(30, 30, 30, 0.331);
   
      background-size: cover;
      font-size: large;
     
      top: 0;
      overflow: hidden;
      z-index: 4;
  

  @media (max-width: 768px) {
    width: 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      cursor: pointer;
      padding: 12px;

      @media (max-width: 768px) {
        padding: 7px;
      }

      &:hover {
        background-color: gray;
      }

      a {
        display: flex;
        text-decoration: none;
        counter-reset: blueviolet;

        span {
          margin-left: 15px;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}
.wow{
  font-size: 20px;
  font-family: sans-serif;
  
  background: url(https://images4.alphacoders.com/985/98546.jpg);
  -webkit-text-fill-color: transparent; 
   -webkit-background-clip: text;
   
}
.dashboard-admin {
  display: flex;
  height: 100vh;
  
}
