.home {
  background-color: #F6F8FA;
  padding: 100px 0;
  text-align: center;
  display: flex;
  gap: 10px;
  border-bottom: solid 1px rgb(123, 119, 119);
  box-shadow: 0px 0px 0px 0px rgb(97, 96, 96),inset 0px 0px 27px 0px rgb(139, 139, 139);

  .home-content {
    /* max-width: 800px; */
    margin: 0 auto;
    width: 300;
    

    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
      background: url(https://images4.alphacoders.com/985/98546.jpg);
      -webkit-text-fill-color: transparent; 
       -webkit-background-clip: text;
       transition: all 1s ease;
       background-position: 200px;
       background-size: 1px;
          margin-bottom: 5px;
          font-family: sans-serif;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }
    .pcon{
      border-bottom:solid 1px black;
      margin: 30px;
    }
    /* h1:hover{
      background: url(https://images4.alphacoders.com/985/98546.jpg);
      -webkit-text-fill-color: transparent; 
       -webkit-background-clip: text;
       background-position: 200px;
       /* background-size: cover; */
          /* margin-bottom: 5px;
          font-family: sans-serif; */

    /* } */ */
    p {
      font-size: 24px;
      color: #666;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    button {
      padding: 12px 24px;
    }
  }
  img{
    width: 400px;
    height: 300px;
  }
  .homegif{

  }
  .gifcon{
    width: 600px;
    /* padding-left: 20px; */
    border-left:solid 2px black ;
  }
  .common-btn{
    text-decoration: none;
    max-width: auto;
    background: url(https://images4.alphacoders.com/985/98546.jpg);
    color: rgb(255 255 255);
    padding:10px;
    width: 600px;
    margin-left: 20ppx;
    font-size: larger;
    margin: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    
    cursor: pointer;
    transition: all 2s ease;
    
    border-radius: 50px;

  }
  .common-btn:hover{
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transform: scale(1.05);
    background: url(https://images8.alphacoders.com/576/thumb-1920-576667.jpg);
    background-position: 1000px;
    /* background-size: cover; */
    color: black;
    font-weight: 400;
  }
}
