

.fullpage{
 

  margin-top: -110px;
}



.profile {
  background-color: #F6F8FA;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 185px auto;
  margin-top: 150px;

  @media (max-width: 768px) {
    padding: 10px;
    width: 80%;
    margin: 90px auto;
  }

  .h2text{
    font-size: 35px;
    background: url(https://images4.alphacoders.com/985/98546.jpg);
-webkit-text-fill-color: transparent; 
 -webkit-background-clip: text;
 transition: all ease 1s;
 background-position: 100px;
    margin-bottom: 5px;
    margin-top: -5px;
    font-family: sans-serif;
  }
  .line2{
    border-bottom:solid 6px rgba(128, 128, 128, 0.144);
    border-radius: 40px;
    margin-bottom: 60px;
   
  }
  .gifpro{
    width: 250px;
    position: relative;
    bottom: 35px;
    left: 70px;
    height: 70px;
    
  }
  .usercon{
    /* border: solid 0.5px black; */
    border-radius: 7px;
    margin-bottom: 15px;
    height: 50px;
    background-color: #ffff;
    box-shadow: 0px 0px 0px 0px rgb(97, 96, 96),inset 0px 0px 10px 0px rgb(203, 200, 200);
  }
  .common-btn4{
    margin-bottom: 10px;
      width: 375px;
      font-size: large;
      height: 40px;
      border-radius: 50px;
      text-decoration: none;
    max-width: auto;
    color: rgb(255 255 255);
    background: url(https://images8.alphacoders.com/576/thumb-1920-576667.jpg);
    padding:10px;
    background-position: 500px;
    /* border: solid 1px black; */
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;
    border: solid 0.5px black;
    text-transform: uppercase;
    text-align: center;
    
    cursor: pointer;
    transition: all 2s ease;
    
    border-radius: 50px;

  }
  .common-btn4:hover{
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,inset (27, 31, 35, 0.15) 0px 0px 0px 1px;
    transform: scale(1.05);
    background: url(https://images8.alphacoders.com/576/thumb-1920-576667.jpg);
    background-position: 1000px;
    /* background-size: cover; */
    color: black;
    font-weight: 400;
  }
  .common-btn1{
    margin-bottom: 10px;
      width: 375px;
      font-size: large;
      height: 40px;
      border-radius: 50px;
      text-decoration: none;
    max-width: auto;
    background: url(https://images8.alphacoders.com/576/thumb-1920-576667.jpg);
    color: rgb(255 255 255);
    padding:10px;
    background-position: 500px;
    /* border: solid 1px black; */
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;
    border: solid 0.5px black;
    text-transform: uppercase;
    text-align: center;
    
    cursor: pointer;
    transition: all 2s ease;
    
    border-radius: 50px;

  }
  .common-btn1:hover{
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,inset (27, 31, 35, 0.15) 0px 0px 0px 1px;
    transform: scale(1.05);
    background: url(https://images8.alphacoders.com/576/thumb-1920-576667.jpg);
    background-position: 1000px;
    /* background-size: cover; */
    color: black;
    font-weight: 400;
  }
  .common-btn3{

    background: url(https://picfiles.alphacoders.com/466/thumb-1920-466415.jpg);
    color: rgb(255 255 255);
    padding:10px;
    background-position: 500px;
    /* border: solid 1px black; */
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;
    border: solid 0.5px black;
    text-transform: uppercase;
    text-align: center;
    
    cursor: pointer;
    transition: all 2s ease;
    
    border-radius: 50px;
    width: 150px;
    
    padding: 5px;
    border: solid 1px rgb(7, 7, 7);
    font-size: larger;
    border-radius: 7px;
  }
  .profile-info {
    text-align: left;
    margin-top: 15px;

    p {
       margin-bottom:20px; 
      color: #333;
      text-align: center;
      

      strong {
        position: relative;
        bottom: -7px;
        text-align: center;
        color: #080808;
        font-family: sans-serif;
        font-weight: 600;
        background: url(https://images4.alphacoders.com/985/98546.jpg);
        -webkit-text-fill-color: transparent; 
         -webkit-background-clip: text;
         transition: all ease 1s;
         background-position: 20px;
         
        font-size: 22px;
      }
    }
  }
}
