.courses {
  padding: px 0;
  margin: 10px;
  text-align: center;
  min-height: 60vh;
  

  h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    background: url(https://images4.alphacoders.com/985/98546.jpg);
    -webkit-text-fill-color: transparent; 
     -webkit-background-clip: text;
     transition: all 1s ease;
     background-position: 200px;
     background-size: 1px;
        margin-bottom: 5px;
        font-family: sans-serif;
  }

  
  .course-container {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    border-radius:20px;
    gap: 30px;
    /* border: solid 1px black; */
    width: 100%;
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 0px 0px black,inset 0px 0px 20px 0px rgba(0, 0, 0, 0.457);
  }
 .course-con{
  background: url(https://images4.alphacoders.com/985/98546.jpg);
  display: flex;
    flex-wrap: wrap;
    background-position: center;
    justify-content: center;
    border-radius:20px;
    gap: 30px;
    margin: 20px;
    border: solid 1px black;
    
}
}